@use "../../../styles/variables";

.container {
  grid-column: 4/ 5;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  .chatContainer {
    width: 100%;
    height: 80%;
    padding: {
      right: 1rem;
    }

    background-color: variables.$squareHover;
    border-radius: 5rem;
  }
}
