@use "../../../styles//variables";

.score {
  justify-content: flex-start !important;

  th,
  td {
    padding: 1rem;
    background-color: variables.$squareMain;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
  }

  table tr:nth-of-type(2) td:nth-of-type(1) {
    font-weight: bold;
  }
  table tr:nth-of-type(3) td:nth-of-type(1) {
    font-weight: bold;
  }
}
