@use "score.module";
@use "../../../styles/variables";

@mixin flex_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  grid-column: 1/ 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  padding-left: 1rem;

  @include flex_();

  .detailContainer {
    width: 100%;
    height: 80%;
    background-color: variables.$squareHover;
    border-radius: 5rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .timer_,
  .score {
    width: 100%;
    height: 50%;
    @include flex_();
  }
}

.buttonContainer {
  margin-top: 4rem;
  @include flex_();
  flex-direction: row;
}
